{
    "parser": "@typescript-eslint/parser", // Specifies the ESLint parser
    "parserOptions": {
      "ecmaVersion": "latest", // Allows for the parsing of modern ECMAScript features
      "sourceType": "module", // Allows for the use of imports
      "ecmaFeatures": {
        "jsx": true // Allows for the parsing of JSX
      },
      "project": "tsconfig.json"
    },
    "env": {
      "es6": true
    },
    "settings": {
      "react": {
        "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
      }
    },
    "extends": [
      "airbnb",
      "airbnb/hooks",
      "airbnb-typescript",
      "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
      "plugin:@typescript-eslint/recommended" // Uses the recommended rules from @typescript-eslint/eslint-plugin
    ],
    "rules": {
      // Place to specify ESLint rules. Can be used to overwrite rules specified from the extended configs
      // e.g. "@typescript-eslint/explicit-function-return-type": "off",
      "react/jsx-filename-extension": [2, { "extensions": [".ts", ".tsx"] }],
      "quotes": ["error", "single"],
      "semi": ["error", "always"],
      "no-multi-spaces": ["error"],
      "no-trailing-spaces": ["error"],
      "eol-last": ["error"],
      "indent": "off",
      "@typescript-eslint/indent": ["error"],
      "default-param-last": "off",
      "@typescript-eslint/default-param-last": "off",
      "linebreak-style": ["error", "windows"],
      "max-len": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "no-underscore-dangle": "off",
      "jsx-a11y/anchor-is-valid": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "react/jsx-props-no-spreading": "off"
    }
}
